.sprite0{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png");
}

.sprite1{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/2.png");
}
.sprite2{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/3.png");
}
.sprite3{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/4.png");
}
.sprite4{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/5.png");
}
.sprite5{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png");
}
.sprite6{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/7.png");
}
.sprite7{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/8.png");
}
.sprite8{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/9.png");
}
.sprite9{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/10.png");
}
.sprite10{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/11.png");
}
.sprite11{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/12.png");
}
.sprite12{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/13.png");
}
.sprite13{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/14.png");
}
.sprite14{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/15.png");
}
.sprite15{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/16.png");
}
.sprite16{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/17.png");
}
.sprite17{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/18.png");
}
.sprite18{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/19.png");
}
.sprite19{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/20.png");
}
.sprite20{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/21.png");
}
.sprite21{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/22.png");
}
.sprite22{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/23.png");
}
.sprite23{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/24.png");
}
.sprite24{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png");
}
.sprite25{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/26.png");
}
.sprite26{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/27.png");
}
.sprite27{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/28.png");
}
.sprite28{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/29.png");
}
.sprite29{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/30.png");
}
.sprite30{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/31.png");
}
.sprite31{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/32.png");
}
.sprite32{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/33.png");
}
.sprite33{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/34.png");
}
.sprite34{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/35.png");
}
.sprite35{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/36.png");
}
.sprite36{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/37.png");
}
.sprite37{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/38.png");
}
.sprite38{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/39.png");
}
.sprite39{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/40.png");
}
.sprite40{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/41.png");
}
.sprite41{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/42.png");
}
.sprite42{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/43.png");
}
.sprite43{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/44.png");
}
.sprite44{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/45.png");
}
.sprite45{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/46.png");
}
.sprite46{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/47.png");
}
.sprite47{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/48.png");
}
.sprite48{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/49.png");
}
.sprite49{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/50.png");
}
.sprite50{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/51.png");
}
.sprite51{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/52.png");
}
.sprite52{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/53.png");
}
.sprite53{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/54.png");
}
.sprite54{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/55.png");
}
.sprite55{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/56.png");
}
.sprite56{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/57.png");
}
.sprite57{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/58.png");
}
.sprite58{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/59.png");
}
.sprite59{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/60.png");
}
.sprite60{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/61.png");
}
.sprite61{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/62.png");
}
.sprite62{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/63.png");
}
.sprite63{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/64.png");
}
.sprite64{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/65.png");
}
.sprite65{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/66.png");
}
.sprite66{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/67.png");
}
.sprite67{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/68.png");
}
.sprite68{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/69.png");
}
.sprite69{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/70.png");
}
.sprite70{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/71.png");
}
.sprite71{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/72.png");
}
.sprite72{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/73.png");
}
.sprite73{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/74.png");
}
.sprite74{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/75.png");
}
.sprite75{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/76.png");
}
.sprite76{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/77.png");
}
.sprite77{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/78.png");
}
.sprite78{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/79.png");
}
.sprite79{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/80.png");
}
.sprite80{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/81.png");
}
.sprite81{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/82.png");
}
.sprite82{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/83.png");
}
.sprite83{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/84.png");
}
.sprite84{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/85.png");
}
.sprite85{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/86.png");
}
.sprite86{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/87.png");
}
.sprite87{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/88.png");
}
.sprite88{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/89.png");
}
.sprite89{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/90.png");
}
.sprite90{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/91.png");
}
.sprite91{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/92.png");
}
.sprite92{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/93.png");
}
.sprite93{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/94.png");
}
.sprite94{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/95.png");
}
.sprite95{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/96.png");
}
.sprite96{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/97.png");
}
.sprite97{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/98.png");
}
.sprite98{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/99.png");
}
.sprite99{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/100.png");
}
.sprite100{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/101.png");
}
.sprite101{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/102.png");
}
.sprite102{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/103.png");
}
.sprite103{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/104.png");
}
.sprite104{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/105.png");
}
.sprite105{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/106.png");
}
.sprite106{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/107.png");
}
.sprite107{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/108.png");
}
.sprite108{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/109.png");
}
.sprite109{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/110.png");
}
.sprite110{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/111.png");
}
.sprite111{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/112.png");
}
.sprite112{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/113.png");
}
.sprite113{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/114.png");
}
.sprite114{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/115.png");
}
.sprite115{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/116.png");
}
.sprite116{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/117.png");
}
.sprite117{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/118.png");
}
.sprite118{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/119.png");
}
.sprite119{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/120.png");
}
.sprite120{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/121.png");
}
.sprite121{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/122.png");
}
.sprite122{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/123.png");
}
.sprite123{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/124.png");
}
.sprite124{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/125.png");
}
.sprite125{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/126.png");
}
.sprite126{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/127.png");
}
.sprite127{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/128.png");
}
.sprite128{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/129.png");
}
.sprite129{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/130.png");
}
.sprite130{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/131.png");
}
.sprite131{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png");
}
.sprite132{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/133.png");
}
.sprite133{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/134.png");
}
.sprite134{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/135.png");
}
.sprite135{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/136.png");
}
.sprite136{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/137.png");
}
.sprite137{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/138.png");
}
.sprite138{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/139.png");
}
.sprite139{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/140.png");
}
.sprite140{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/141.png");
}
.sprite141{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/142.png");
}
.sprite142{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/143.png");
}
.sprite143{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/144.png");
}
.sprite144{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/145.png");
}
.sprite145{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/146.png");
}
.sprite146{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/147.png");
}
.sprite147{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/148.png");
}
.sprite148{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/149.png");
}
.sprite149{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/150.png");
}
.sprite150{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/151.png");
}
